<launch>
	<!-- Basic launch file which you can change the map for single robot-->
	<include file="$(find match_gazebo)/launch/match_world_common.launch">
	    <arg name="world_name" value="maze" />
	</include>

    <!-- You can change the initial position of the robot-->
	<include file="$(find mir_launch_sim)/launch/mir_100.launch">
		<arg name="robot_x"     value="0.0" />
		<arg name="robot_y"     value="0.0" />
		<arg name="robot_yaw"   value="0.0" />
		<!-- <arg name="global_planner" value="SplinedRelaxedAStar" />  -->
	</include>

    <!--2D Navigation-->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find rrt_star_global_planner)/config/rrt_star_config.rviz" />
</launch>
